.entry-content-quote {
	background-color: #111;
	min-height: 365px;
	top:-50vh;
	position: relative;
	width:100%;
	font-size: 14em;
}

div.quote-anim-container {
    white-space:nowrap;
    overflow:hidden;
}
div.quote-anim-container > div.quote-anim {
    white-space:nowrap;
    display:inline;
    width:auto;
}

div.quote-anim {
	color: white;
	text-transform: uppercase;
}

p.auteur {
	text-transform: uppercase;
	font-size: 0.8em;
	letter-spacing: 1px;
}

.entry-content-vrijplaats {
	background-color: black;
}

.featured-page {
	padding:40px 0;
	text-align: center;
}